<ul id="side-menu">

    <li>
        <a href="#sidebarEcommerce" data-toggle="collapse">
            <i class="mdi mdi-cart-outline"></i>
            <span> Ecommerce </span>
            <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarEcommerce">
            <ul class="nav-second-level">
                <li>
                    <a asp-controller="Admin" asp-action="ListProduct">List Product</a>
                </li>

                <li>
                    <a asp-controller="Admin" asp-action="ListCategory">List Categories</a>
                </li>

                <li>
                    <a asp-controller="Admin" asp-action="ListOrder">Order List</a>
                </li>
              
               
            </ul>
        </div>
    </li>
</ul>