@{
    Layout = "_Login_Layout";
}

@model User



<div class="col-md-8 col-lg-6 col-xl-5">
    <div class="card bg-pattern">

        <div class="card-body p-4">

            <div class="text-center w-75 m-auto">
                <p class="text-muted mb-4 mt-3">Enter your username and password to access admin panel.</p>
            </div>

            @if(ViewBag.ErrorMessage != null){
                <div class="text-center w-75 m-auto">
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                </div>
            }

            <form asp-controller="Admin" asp-action="Login" method="POST">

                <div class="form-group mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" placeholder="Enter your username" class="form-control">

                </div>

                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <div class="input-group input-group-merge">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password">
                        <div class="input-group-append show-password" data-password="true">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>



               

                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                </div>

            </form>

        

        </div> <!-- end card-body -->
    </div>
    <!-- end card -->


    <!-- end row -->

</div> <!-- end col -->